# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#* <@user> # NOT YET SETUP ON PURPOSE

# Configs
.github/ @mschilling @cassshh
.vscode/ @mschilling @cassshh

# Libs
libs/ @mschilling @cassshh @aaltw

# Angular app
apps/krew-ui-angular/ @aaltw @mschilling @cassshh @guidovanvilsteren @RoyStobbelaar

# React app
apps/krew-ui-react/ @paul-goossens

# Vue app
apps/krew-ui-vue/ @RoyStobbelaar @jstrating @guidovanvilsteren @aaltw @paul-goossens

# Svelte app
apps/krew-ui-svelte/ @mschilling @cassshh @jstrating

# Krew website app
apps/krew-website/ @aaltw @mschilling @cassshh @nratering
