# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#* <@user> # NOT YET SETUP ON PURPOSE

# Angular app
apps/krew-ui-angular/ @aaltw @esteenredeker @mschilling @cassshh @guidovanvilsteren @RoyStobbelaar

# React app
apps/krew-ui-react/ @paul-goossens @youridekker @esteenredeker

# Vue app
apps/krew-ui-vue/ @RoyStobbelaar @jstrating @guidovanvilsteren @aaltw @paul-goossens @youridekker

# Svelte app
apps/krew-ui-svelte/ @mschilling @cassshh @jstrating
