version: 2
updates:
  # Configuration for npm
  - package-ecosystem: 'npm'
    directory: .
    schedule:
      # Check the npm registry for updates at 4am UTC
      interval: 'daily'
      time: '04:00'
    open-pull-requests-limit: 20
    target-branch: 'main'
    labels:
      - 'dependencies'
    ignore:
      - dependency-name: '@nrwl/*'
        # For @nrwl packages, ignore all new major version > 12
        versions: ['>12.x']

      - dependency-name: '@angular/*'
        # For @angular packages, ignore all new major version > 12
        versions: ['>12.x']

      # For cypress, ignore all updates. Do manually instead.
      - dependency-name: 'cypress'
