---
import Head from '$components/Head.astro';

let title = 'My Astro Site';

---
<html lang="en">
<head>

  <Head />

  <title>{title}</title>

  <link rel="stylesheet" href="/styles/global.css">
  <!-- <link rel="stylesheet" href="/style/home.css"> -->

</head>
<body>

  <section class="intro">
    <div>
      <!-- <a class="link" href="/"><img class="w5" src="/assets/images/hnpwa-logo.png" alt="Krew PWA"></a> -->
      <h1>Krew UI's as Progressive Web Apps</h1>
    </div>
  </section>

  <main class="page-content">
    <div class="wrapper">
      <div>
      <h2>
      Krew by Move4Mobile
      </h2>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique autem
      tenetur non ipsum veritatis! Laborum maiores praesentium reprehenderit sequi
      ad cupiditate voluptates nisi commodi molestias?
      </p>

      <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint omnis voluptas magnam,
      ipsam autem obcaecati dolorum harum soluta.
      </p>

      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur ratione vero
      est! Culpa beatae iure cum aspernatur suscipit recusandae pariatur, repellat ratione
      dignissimos, sunt laboriosam magnam neque maxime! Voluptatum dolore reiciendis,
      consequuntur aut, iure soluta odit animi quod eveniet, a minus nam neque eius.
      </p>
    </div>
  </main>

</body>
</html>
