---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<html lang="en">
<head>

  <Head />

</head>
<body>

<Header />

<div class="transition bg-indigo-900 dark:bg-gray-900 bg-photo">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-48">
    <div class="relative z-10">
      <img class="w-16 md:w-32 lg:w-48" src="/assets/krew-logo.svg" alt="Krew logo">
      <h1 class="py-4 text-white dark:text-gray-500 font-bold text-4xl">as progressive web apps</h1>
    </div>
  </div>
</div>

<main class="transition bg-white dark:bg-gray-900 mb-10">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 py-6 text-center">
    <h2 class="py-4 font-bold text-3xl dark:text-white">krew apps</h2>
    <p class="dark:text-gray-400 leading-7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
      ligula eget dolor. Aenean massa. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
      pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
      vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
      mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
  </div>

  <hr class="dark:border-gray-800">

  <section id="angular" class="text-gray-600 body-font overflow-hidden dark:text-gray-400">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="Krew Angular" class="lg:w-1/2 w-full lg:h-auto self-center md:order-2" src="/assets/angular.png">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 md:order-1">
          <h2 class="text-sm title-font text-gray-500 tracking-widest dark:text-gray-600">M4M</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4 dark:text-white">Krew UI PWA Angular</h1>
          <div class="flex mb-4">
            <a
              class="flex-grow text-indigo-900 border-b-2 border-indigo-900 py-2 text-lg px-1 dark:text-white dark:border-gray-800">Description</a>
          </div>
          <p class="leading-relaxed mb-4">Angular locavore kickstarter distillery Google. Mixtape chillwave tumeric
            sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn.
            Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Framework/UI libraries</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Angular 12</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Module bundling</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Webpack 5</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Service Worker</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Yes</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Performance patterns</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Server-side rendering</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">No</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">API</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">NGRX component store</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Hosting</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Other details</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Tailwind CSS</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Author</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Aalt / Guido</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Maintainers</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Aalt / Eline / Guido</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Progress</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500">85%</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Version</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500">0.6</span>
          </div>

          <div class="flex">
            <a href="https://krew-angular.test.m4m.io/" target="_blank"
               class="transition flex text-white mr-3 bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Launch</a>
            <a href="https://github.com/move4mobile/krew-workspace" target="_blank"
               class="transition flex text-gray-500 bg-none border-2 border-gray-300 py-2 px-6 focus:outline-none hover:bg-gray-300 hover:text-white rounded">
              <svg width="24" height="24" fill="currentColor" class="mr-3 transform dark:text-gray-500">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
              </svg>
              Code</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <!-- React Row-->
  <section id="react" class="text-gray-600 body-font overflow-hidden dark:text-gray-400">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="Krew Angular" class="lg:w-1/2 w-full lg:h-auto self-center" src="/assets/react.png">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest dark:text-gray-600">M4M</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4 dark:text-white">Krew UI PWA React</h1>
          <div class="flex mb-4">
            <a
              class="flex-grow text-indigo-900 border-b-2 border-indigo-900 py-2 text-lg px-1 dark:text-white dark:border-gray-800">Description</a>
          </div>
          <p class="leading-relaxed mb-4">Angular locavore kickstarter distillery Google. Mixtape chillwave tumeric
            sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn.
            Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Framework/UI libraries</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">React</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Module bundling</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Webpack 5</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Service Worker</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Yes</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Performance patterns</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Server-side rendering</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">No</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">API</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">NGRX component store</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Hosting</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Other details</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Tailwind CSS</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Author</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Aalt / Guido</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Maintainers</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Aalt / Eline / Guido</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Progress</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500">85%</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Version</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500">0.6</span>
          </div>

          <div class="flex">
            <a href="https://krew-react.test.m4m.io/" target="_blank"
               class="transition flex text-white mr-3 bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Launch</a>
            <a href="https://github.com/move4mobile/krew-workspace" target="_blank"
               class="transition flex text-gray-500 bg-none border-2 border-gray-300 py-2 px-6 focus:outline-none hover:bg-gray-300 hover:text-white rounded">
              <svg width="24" height="24" fill="currentColor" class="mr-3 transform dark:text-gray-500">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
              </svg>
              Code</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <hr>
  <!--Svelte Row-->
  <section id="svelte" class="text-gray-600 body-font overflow-hidden dark:text-gray-400">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="Krew Angular" class="lg:w-1/2 w-full lg:h-auto self-center md:order-2" src="/assets/svelte.png">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 md:order-1">
          <h2 class="text-sm title-font text-gray-500 tracking-widest dark:text-gray-600">M4M</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-4 dark:text-white">Krew UI PWA Svelte</h1>
          <div class="flex mb-4">
            <a
              class="flex-grow text-indigo-900 border-b-2 border-indigo-900 py-2 text-lg px-1 dark:text-white dark:border-gray-800">Description</a>
          </div>
          <p class="leading-relaxed mb-4">Svelte locavore kickstarter distillery Google. Mixtape chillwave tumeric
            sriracha taximy chia microdosing tilde DIY. XOXO fam inxigo juiceramps cornhole raw denim forage brooklyn.
            Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over, neutra jean.</p>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Framework/UI libraries</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Svelte 3</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Module bundling</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Rollup</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Service Worker</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Performance patterns</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Server-side rendering</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">No</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">API</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Hosting</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">-</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Other details</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Sass (scss), Eslint</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Author</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Cas / Michael</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Maintainers</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500 text-right">Cas / Michael / Jesper</span>
          </div>
          <div class="flex border-t border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Progress</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500">85%</span>
          </div>
          <div class="flex border-t border-b mb-6 border-gray-200 py-2 dark:border-gray-800">
            <span class="text-gray-500">Version</span>
            <span class="ml-auto text-gray-900 dark:text-gray-500">0.6</span>
          </div>

          <div class="flex">
            <a href="https://krew-svelte.test.m4m.io/" target="_blank"
               class="transition flex text-white mr-3 bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Launch</a>
            <a href="https://github.com/move4mobile/krew-workspace" target="_blank"
               class="transition flex text-gray-500 bg-none border-2 border-gray-300 py-2 px-6 focus:outline-none hover:bg-gray-300 hover:text-white rounded">
              <svg width="24" height="24" fill="currentColor" class="mr-3 transform dark:text-gray-500">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.606 9.606 0 0112 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48C19.137 20.107 22 16.373 22 11.969 22 6.463 17.522 2 12 2z"></path>
              </svg>
              Code</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<Footer />

</body>
</html>
