---
export interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink } = Astro.props;

const mainStyle = Astro.resolve('../styles/main.css');

---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>KREWPWA</title>
<meta name="description" content="Krew UI's as Progressive Web Apps">
<!-- <meta name="theme-color" content="#"> -->


<link rel="icon" href="/assets/favicon.ico">
<link rel="canonical" href="https://my-site.com/">

<link rel="stylesheet" href="{mainStyle}" />
